
<div class="container" role="main">

  <h1>🏴‍☠️👀 Tes infos ont été capturées par des pirates !</h1>

  <div class="card">
    <h2>💻 Informations Navigateur</h2>
    <p><strong>Agent utilisateur :</strong> {{ browserData?.userAgent }}</p>
    <p><strong>Langue :</strong> {{ browserData?.language }}</p>
    <p><strong>Plateforme :</strong> {{ browserData?.platform }}</p>
    <p><strong>Résolution d'écran :</strong> {{ browserData?.screenResolution }}</p>
    <p><strong>Fuseau horaire :</strong> {{ browserData?.timezone }}</p>
    <p><strong>Cookies activés :</strong> {{ browserData?.cookiesEnabled ? 'Oui' : 'Non' }}</p>
  </div>

  <div class="card">
    <h2>🌐 Informations IP</h2>
    <p><strong>Ville :</strong> {{ ipData?.city }}</p>
    <p><strong>Pays :</strong> {{ ipData?.country_name }}</p>
    <p><strong>Fournisseur :</strong> {{ ipData?.org }}</p>
    <p class="typewriter"><strong>Adresse IP :</strong> {{ ipData?.ip }}</p>
  </div>

</div>


